body{
    background-color: #EDEFEE;
    color: #000000;
}
a:link{ 
    color: rgb(179, 4, 4); 
    text-decoration: none;
}

a:active{ 
    color: #000000; 
    text-decoration: none;
}

a:visited{ 
    color: #000000; 
    text-decoration: none;
}

a:hover{ 
    color: #FF0000; 
    text-decoration: underline;
}