<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
    <title>Spring Framework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <link href="/css/spring-core.css" rel="stylesheet" media="screen"/>

    <!--<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
    th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
    rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
      th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<link href="../static/css/spring-core.css"
th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/> -->


</head>
<body>
        <div class="jumbotron text-center">
<h1>
<span th:text="${bienvenida}"></span>
</h1>
<p> <span th:text="${fecha}"></span> </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>
                <span th:tex="cursos"></span>
                </h3>
                <ul th:each="curso : ${listaCursos}">
                    <li th:text="${curso}"></li>
                </ul>
          </div>
     </div>
</div>
<div>
<h2>
    CRUD
</h2>

<ul>
        <li><a href="products/list">Products</a></li>
        <li><a href="customers/list">Customers</a></li>
    </ul>
<hr/>

    <h2>CRUD</h2>
    <ul>
        <li><a href="http://localhost:8090/product/list">Productos</a></li>
        <li><a href="http://localhost:8090/customer/list">Clientes</a></li>
</ul>


</div>

</body>
</html>