<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">

    <title>Lista de Productos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <link href="/css/spring-core.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
   <div th:if="${!productos.isEmpty()}">
        <h2>Lista de productos</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Descripci&oacute;n</th>
                <th>Precio</th>
                <th>Imagen URL</th>
                <th>Listar</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td th:text="${producto.precio}"></td>
                <td th:text="${producto.imagenUrl}"></td>
                <td><a th:href="${'/cursospring/producto/' + producto.id}">Ver</a> </td>
                <td><a th:href="${'/cursospring/producto/editar/' + producto.id}">Editar</a> </td>
                <td><a th:href="${'/cursospring/producto/borrar/' + producto.id}">Borrar</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/cursospring/producto/nuevo">Nuevo producto</a>
        </div>
</div>

</body>
</html>