<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mostrar producto</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <link href="/css/spring-core.css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h2>Producto obtenido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id producto:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${producto.id}">Producto id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripci&oacute;n:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${producto.descripcion}">Descripci&oacute;n</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Precio:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${producto.precio}">Precio</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 sm-2 control-label">Imagen URL:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${producto.imagenUrl}">Imagen</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

</body>
</html>